/* NavBar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #908d8d;
    color: white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Navigation Links */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li {
    display: inline;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 8px 12px;
  }
  
  .nav-links a:hover {
    background-color: #767474;
    border-radius: 5px;
  }
  
  /* Hamburger Menu */
  .hamburger {
    font-size: 28px;
    cursor: pointer;
    display: none;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
      text-align: center;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-links li {
      padding: 15px;
    }
  }
  